<main role="main-home-wrapper" class="container animated ingresar">
  <div class="row">
      <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
          <article role="pge-title-content">
              <header>
                  <h2><span>carosdrean</span> Developer.</h2>
              </header>
              <p>Carosdrean :).</p>
          </article>
      </section>
      <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
          <figure class="effect-oscar">
              <img src="assets/images/portada.png" alt="" class="img-responsive" />
              <figcaption>
                  <h2>CarosDrean
                      <span> Identidad</span>
                  </h2>
                  <p>Identidad Personal.</p>
                  <a routerLink="/acercade">Ver mas</a>
              </figcaption>
          </figure>
      </section>
      <div class="clearfix"></div>
      <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
          <ul class="effect-2" id="grid">
              <li *ngFor="let proyecto of proyectosI; let i = index" [attr.data-index]="i" class="animated ingresar">
                  <figure class="effect-oscar">
                      <img [attr.src]="profileUrlI[i] | async" alt="" class="img-responsive" />
                      <figcaption>
                          <h2>{{proyecto.titulo}}
                              <span>{{proyecto.categoria}}</span>
                          </h2>
                          <p>Proyecto {{proyecto.categoria}}</p>
                          <a routerLink="/detalle/{{proyecto.uid}}">Ver mas</a>
                      </figcaption>
                  </figure>
              </li>
          </ul>
      </section>
      <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
          <ul class="effect-2" id="grid">
              <li *ngFor="let proyecto of proyectosD; let i = index" [attr.data-index]="i" class="animated ingresar">
                  <figure class="effect-oscar">
                      <img [attr.src]="profileUrlD[i] | async" alt="" class="img-responsive" />
                      <figcaption>
                          <h2>{{proyecto.titulo}}
                              <span>{{proyecto.categoria}}</span>
                          </h2>
                          <p>Proyecto {{proyecto.categoria}}</p>
                          <a routerLink="/detalle/{{proyecto.uid}}">Ver mas</a>
                      </figcaption>
                  </figure>
              </li>
          </ul>
      </section>
      <div class="clearfix"></div>
  </div>
</main>
