<main role="main-home-wrapper" class="container">
  <div class="row">
      <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
          <article role="pge-title-content">
              <header>
                  <h2><span>carosdrean</span> Developer.</h2>
              </header>
              <p>Aqui se listaran proyectos desarrollados por Carosdrean.</p>
          </article>
      </section>
      <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
          <figure class="effect-oscar">
              <img src="assets/images/home-images/image-1.jpg" alt="" class="img-responsive" />
              <figcaption>
                  <h2>CarosDrean
                      <span> Identidad</span>
                  </h2>
                  <p>Identidad Personal.</p>
                  <a routerLink="/acercade">Ver mas</a>
              </figcaption>
          </figure>
      </section>
      <div class="clearfix"></div>
      <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
          <ul class="effect-2" id="grid">
              <li>
                  <figure class="effect-oscar">
                      <img src="assets/images/home-images/image-2.jpg" alt="" class="img-responsive" />
                      <figcaption>
                          <h2>Registrador
                              <span>Diseño Web</span>
                          </h2>
                          <p>Proyecto en Angular donde se guardan registros en Firebase y se muestran Estadisticas.</p>
                          <a routerLink="/detalle">Ver mas</a>
                      </figcaption>
                  </figure>
              </li>
              <li>
                  <figure class="effect-oscar">
                      <img src="assets/images/home-images/image-4.jpg" alt="" class="img-responsive" />
                      <figcaption>
                          <h2>A Brand
                              <span>new Agency</span>
                          </h2>
                          <p>Over 40,000 customers use our themes to power their</p>
                          <a routerLink="/detalle">View more</a>
                      </figcaption>
                  </figure>
              </li>
          </ul>
      </section>
      <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
          <ul class="effect-2" id="grid">
              <li>
                  <figure class="effect-oscar">
                      <img src="assets/images/home-images/image-3.jpg" alt="" class="img-responsive" />
                      <figcaption>
                          <h2>Prospectos
                              <span>Java Prolog</span>
                          </h2>
                          <p>Aplicacion de escritorio que te compara con las grandes mentes.</p>
                          <a routerLink="/detalle">Ver mas</a>
                      </figcaption>
                  </figure>
              </li>
              <li>
                  <figure class="effect-oscar">
                      <img src="assets/images/home-images/image-5.jpg" alt="" class="img-responsive" />
                      <figcaption>
                          <h2>A Brand
                              <span>new Agency</span>
                          </h2>
                          <p>Over 40,000 customers use our themes to power their</p>
                          <a routerLink="/detalle">View more</a>
                      </figcaption>
                  </figure>
              </li>
          </ul>
      </section>
      <div class="clearfix"></div>
  </div>
</main>
