<footer role="footer">
  <h1>
      <a routerLink="/home" title="carosdrean">
          <img src="assets/images/logo.png" title="carosdrean" alt="carosdrean" />
      </a>
  </h1>
  <nav role="footer-nav">
      <ul>
          <li>
              <a routerLink="/home" title="Work">Proyectos</a>
          </li>
          <li>
              <a routerLink="/acercade" title="About">Acerca de</a>
          </li>
          <li>
              <a href="blog.html" title="Blog">Blog</a>
          </li>
          <li>
              <a routerLink="/contacto" title="Contact">Contacto</a>
          </li>
      </ul>
  </nav>
  <ul role="social-icons">
      <li>
          <a href="https://www.facebook.com/carosdrean.developer/" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
      </li>
      <li>
          <a href="https://www.youtube.com/channel/UCn1YmuG9xkoB2LOjDhNwzog?view_as=subscriber" target="_blank">
              <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </a>
      </li>
  </ul>

  <p class="copy-right">&copy; 2018 carosdrean Inc. Todos los derechos reservados.</p>

</footer>
