<main role="main-inner-wrapper" class="container animated ingresar">
  <div class="work-details">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4">
        <header role="work-title">
          <h2>{{proyecto.titulo}}</h2>
          <a href="{{proyecto.github}}" target="_blank">Ver en Github
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </a>
        </header>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8">
        <section>
          <ngx-md [data]="proyecto.descripcion"></ngx-md>

          <p>Algunos de nuestros proyectos web se basan en plantillas creadas por otros autores.</p>
          <p>
            <strong>Categoria</strong>
            <br/> {{proyecto.categoria}}</p>

        </section>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="work-images grid">
      <ul class="effect-2" id="grid">
        <li *ngIf="imguno">
          <img [attr.src]="imguno | async" alt="" class="img-responsive" />
        </li>
        <li *ngIf="imgdos">
          <img [attr.src]="imgdos | async" alt="" class="img-responsive" />
        </li>
        <li *ngIf="imgtres">
          <img [attr.src]="imgtres | async" alt="" class="img-responsive" />
        </li>
      </ul>
    </div>
  </div>
</main>
