<main>
  <aside id="sidebar" class="nano">
    <div class="nano-content">
      <div class="logo-container">
        <span class="logo glyphicon glyphicon-envelope"></span>Admin</div>
      <a data-toggle="modal" data-target="#exampleModal" class="compose-button">Nuevo Proyecto</a>
      <menu class="menu-segment">
        <ul>
          <li class="active">
            <a href="#">Proyectos
              <span> (43)</span>
            </a>
          </li>
          <li>
            <a href="#">Administradores</a>
          </li>
        </ul>
      </menu>
      <div class="separator"></div>
      <div class="menu-segment">
        <ul class="labels">
          <li class="title">Tipos
            <span class="icon">+</span>
          </li>
          <li>
            <a href="#">Android
              <span class="ball pink"></span>
            </a>
          </li>
          <li>
            <a href="#">Web
              <span class="ball green"></span>
            </a>
          </li>
          <li>
            <a href="#">Otros
              <span class="ball blue"></span>
            </a>
          </li>
        </ul>
      </div>

      <div class="bottom-padding"></div>
    </div>
  </aside>
  <main id="main">
    <div class="overlay"></div>
    <header class="header">
      <div class="search-box">
        <input placeholder="Buscar...">
        <span class="icon glyphicon glyphicon-search"></span>
      </div>
      <h1 class="page-title">
        <a class="sidebar-toggle-btn trigger-toggle-sidebar">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
          <span class="line line-angle1"></span>
          <span class="line line-angle2"></span>
        </a>Proyectos
        <a>
          <span class="icon glyphicon glyphicon-chevron-down"></span>
        </a>
      </h1>
    </header>
    <div id="main-nano-wrapper" class="nano">
      <div class="nano-content">
        <ul class="message-list">

          <li>
            <div class="col col-1">
              <span class="dot"></span>
              <div class="checkbox-wrapper">
                <input type="checkbox" id="chk3">
                <label for="chk3" class="toggle"></label>
              </div>
              <p class="title">Randy, me (5)</p>
              <span class="star-toggle glyphicon glyphicon-star-empty"></span>
            </div>
            <div class="col col-2">
              <div class="subject">Last pic over my village &nbsp;&ndash;&nbsp;
                <span class="teaser">Yeah i'd like that! Do you remember the video you showed me of your train ride between Colombo and Kandy?
                  The one with the mountain view? I would love to see that one again!</span>
              </div>
              <div class="date">5:01 am</div>
            </div>
          </li>
          <li class="blue-dot">
            <div class="col col-1">
              <span class="dot"></span>
              <div class="checkbox-wrapper">
                <input type="checkbox" id="chk4">
                <label for="chk4" class="toggle"></label>
              </div>
              <p class="title">Andrew Zimmer</p>
              <span class="star-toggle glyphicon glyphicon-star-empty"></span>
            </div>
            <div class="col col-2">
              <div class="subject">Mochila Beta: Subscription Confirmed &nbsp;&ndash;&nbsp;
                <span class="teaser">You've been confirmed! Welcome to the ruling class of the inbox. For your records, here is a copy of the
                  information you submitted to us...</span>
              </div>
              <div class="date">Mar 8</div>
            </div>
          </li>

          <li class="orange-dot">
            <div class="col col-1">
              <span class="dot"></span>
              <div class="checkbox-wrapper">
                <input type="checkbox" id="chk8">
                <label for="chk8" class="toggle"></label>
              </div>
              <p class="title">Medium</p>
              <span class="star-toggle glyphicon glyphicon-star-empty"></span>
            </div>
            <div class="col col-2">
              <div class="subject">This Week's Top Stories &nbsp;&ndash;&nbsp;
                <span class="teaser">Our top pick for you on Medium this week The Man Who Destroyed America’s Ego</span>
              </div>
              <div class="date">Feb 28</div>
            </div>
          </li>
          <li class="green-dot">
            <div class="col col-1">
              <span class="dot"></span>
              <div class="checkbox-wrapper">
                <input type="checkbox" id="chk16">
                <label for="chk16" class="toggle"></label>
              </div>
              <p class="title">Stack Exchange</p>
              <span class="star-toggle glyphicon glyphicon-star-empty"></span>
            </div>
            <div class="col col-2">
              <div class="subject">1 new items in your Stackexchange inbox &nbsp;&ndash;&nbsp;
                <span class="teaser">The following items were added to your Stack Exchange global inbox since you last checked it.
                </span>
              </div>
              <div class="date">Feb 21</div>
            </div>
          </li>
        </ul>
        <a href="#" class="load-more-link">Todos mis proyectos</a>
      </div>
    </div>
  </main>
  <div id="message">
    <div class="header">
      <h1 class="page-title">
        <a class="icon circle-icon glyphicon glyphicon-chevron-left trigger-message-close"></a>Titulo

      </h1>
      <p>Etiquetas
        <a href="#">One</a>,
        <a href="#">Two</a>,
        <a href="#">Three</a>.</p>
    </div>
    <div id="message-nano-wrapper" class="nano">
      <div class="nano-content">
        <ul class="message-container">
          <li class="sent">
            <div class="details">
              <div class="left">Android
                <div class="arrow"></div>
              </div>
              <div class="right">March 6, 2014, 20:08 pm</div>
            </div>
            <div class="message">
              <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth void have signs
                beast lesser all god saying for gathering wherein whose of in be created stars. Them whales upon life divide
                earth own.</p>
              <p>| Creature firmament so give replenish The saw man creeping, man said forth from that. Fruitful multiply lights
                air. Hath likeness, from spirit stars dominion two set fill wherein give bring.
              </p>
              URL:
              <a href="githubprojects">githubprojects</a>
              <div class="clearfix"></div>
              <div class="work-images grid">
                <ul class="effect-2" id="grid">
                  <li>
                    <img src="assets/images/work/works-image-1.jpg" alt="" class="img-responsive" />
                  </li>
                  <li>
                    <img src="assets/images/work/works-image-2.jpg" alt="" class="img-responsive" />
                  </li>
                  <li>
                    <img src="assets/images/work/works-image-3.jpg" alt="" class="img-responsive" />
                  </li>
                </ul>
              </div>
            </div>
            <div class="tool-box">
              <a href="#" class="circle-icon small glyphicon glyphicon-pencil"></a>
              <a href="#" class="circle-icon small red-hover glyphicon glyphicon-remove"></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</main>
