<main role="main-inner-wrapper" class="container animated fadeIn">
  <div class="row">
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
      <article role="pge-title-content">
        <header>
          <h2>
            <span>Acerca de</span> Carosdrean developer.</h2>
        </header>
        <p>Desarrollamos nuestros proyectos con espero y amor.</p>
      </article>
    </section>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <article class="about-content">
        <p>Somos una empresa de desarrollo de software, desarrollamos aplicaciones Android con tecnologias modernas, mirando hacia
           el futuro con entusiasmo, tambien desarrollamos aplicativos web con Angular.</p>
        <p>Nuestra empresa esta comprometida con el desarrollo de software, con la experiencia de usuario y el diseño de
          interfaces UI/UX.</p>
      </article>
    </section>
    <div class="clearfix"></div>
    <div class="thumbnails-pan">

      <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
        <figure>
          <img src="assets/images/about-images/about-image-1.jpg" class="img-responsive" />
          <figcaption>
            <h3>John Doe</h3>
            <h5>The designer</h5>
          </figcaption>
        </figure>
      </section>

      <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
        <figure>
          <img src="assets/images/about-images/about-image-2.jpg" class="img-responsive" />
          <figcaption>
            <h3>kristy Roan</h3>
            <h5>The Manager</h5>
          </figcaption>
        </figure>
      </section>

      <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
        <figure>
          <img src="assets/images/about-images/about-image-3.jpg" class="img-responsive" />
          <figcaption>
            <h3>Jason takas</h3>
            <h5>The Founder</h5>
          </figcaption>
        </figure>
      </section>
    </div>
  </div>
</main>
